SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_ENGINE=django.db.backends.postgresql
DB_NAME=mi_base_de_datos
DB_USER=daniel
DB_PASSWORD=daniel
DB_HOST=db
DB_PORT=5432

ENABLE_SILK=False
CACHE_BACKEND=django.core.cache.backends.locmem.LocMemCache
CACHE_LOCATION=encomiendas-cache
REDIS_URL=redis://redis:6379/1
